.jumbotron {
    background-color: $yellow;
    color: black;
    margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0px;
    margin-top: 10px
}

.card-s1 {
    text-align: justify;
}

.card-s2 {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    margin-top: 10px;
}

.btn-s2{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}
.card-text {
/*    font-size: 0.8em;*/
    text-align: justify;
}

.card-subtitle {
    margin-top: 10px;
}

.tab-content {
    padding-top: 10px;
}

.carousel {
    margin-bottom: 20px;
}