@yellow: #dbd146;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
//  @include margenes (50px,0px);
//  margin-top: 50px;
}

footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes (10px,0px);
//  margin-bottom: 0px;
//  margin-top: 10px
}

.card-s1 {
    text-align: justify;
}

.card-s2 {
    flex: 1 200px;
    padding: 2px 0px 2px 0px;
    .margenes (10px,0px);
//  margin-top: 10px;
}

.btn-s2{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon {
    padding-right: 10px;
}
.card-text {
//  font-size: 0.8em;
    text-align: justify;
}

.card-subtitle {
    margin-top: 10px;
}

.tab-content {
    padding-top: 10px;
}

.carousel {
    .margenes (0px,10px);
//  margin-bottom: 20px;
}