.jumbotron {
  background-color: #dbd146;
  color: black;
}
footer {
  padding: 10px 10px 0 10px;
  background-color: #dbd146;
  margin-top: 10px;
  margin-bottom: 0px;
}
.card-s1 {
  text-align: justify;
}
.card-s2 {
  flex: 1 200px;
  padding: 2px 0px 2px 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-s2 {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.card-text {
  text-align: justify;
}
.card-subtitle {
  margin-top: 10px;
}
.tab-content {
  padding-top: 10px;
}
.carousel {
  margin-top: 0px;
  margin-bottom: 10px;
}
